/*custom/themes/custom.less*/
/* Mega Menu Background Color  */
.navbar .nav-collapse > div.module-list {
    background: #000000 none repeat scroll 0 0 !important;
}
.navbar .nav-collapse #searchForm {
    background: #000000 none repeat scroll 0 0 !important;
}
.navbar .btn-group {
    background: #000000 none repeat scroll 0 0 !important;
}
/*---------------------------------------------------------------*/
/* Mega Menu Notification Background Color and Border  */
.navbar ul.nav.megamenu li.dropdown.notification-list .btn.dropdown-toggle {
    border: 1px solid #ffffff !important;  background: #f39911 !important;
}
/*---------------------------------------------------------------*/
/* Mega Menu Select Active and Hover */
.megamenu > .dropdown .btn-group > .btn.btn-invisible:hover {
    background: #333333 none repeat scroll 0 0 !important;
}
.megamenu > .dropdown .btn-group:hover {
    background: #333333 none repeat scroll 0 0 !important;
}
.megamenu > .dropdown:hover, .megamenu > .dropdown.active .btn-group {
    background: #333333 none repeat scroll 0 0 !important;  outline: medium none;
}
.megamenu > .dropdown.active .btn-group:not(.open) .btn.btn-invisible.btn-link:not(.cube) {
    /*color: #333 !important;*/
}
/*---------------------------------------------------------------*/
/* Mega Menu Progress Bar */
.navbar-inner {  box-shadow: 0 4px 0 #ffab02 !important;  background: #ff9966 !important; }
.loading.gate .progress .bar {   background: #ff9966 !important; }
/*---------------------------------------------------------------*/
/* Search Box Progress Bar */
.navbar .navbar-search .btn-group .btn:not(.advanced),
.navbar .notification-list .btn-group .btn:not(.btn-danger) {
    background: #000000 none repeat scroll 0 0 !important;
}

a {outline : 0px none !important;}
a img {outline: 0px none !important;}
a:active, a:focus { outline: 0px none !important; -moz-outline-style: none !important; }

/*
outline: 1px dotted -moz-mac-focusring
outline-offset: 3px
*/


/*img { border : 0;}*/

/*
img{
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

img::-moz-selection {
  background-color: transparent;
  color: #000;
}

img::selection {
  background-color: transparent;
  color: #000;
}
*/


/*.megamenu > .dropdown.active .btn-group:not(.open) {
   background-color: #777777 !important;
}*/

/*
include/MVC/View/tpls/sidecar.tpl - turbo test
cache/themes/RacerX/css/style.css
*/


/* Set text color*/

.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
    color: @white;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active,
.btn-invisible.active {
   color: rgba(255,255,255,.75);
}

