/*
How To Change Sugar Colors:
 custom/themes/Sugar/css/style.css
 by FrancescaS
*/

/*------------------------------------------------
Sugar 6.X
themes/default/less/navbar.less
-------------------------------------------------*/

.dcmenu{
    color:blue;
    height:55px;
    min-width: 950px;
    background-color: #0d3a62;
    height: 55px;

    background: -moz-linear-gradient(center top,
    rgba(48,150,166,.9) 0%,
    rgba(13,58,98,.9) 78%,
    rgba(0,0,0,.3) 78%,
    rgba(0,0,0,0) 100%);

    background-color: transparent;
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, rgba(48,150,166,.9)),
            color-stop(0.78, rgba(28,83,92,.9)),
            color-stop(0.78, rgba(0,0,0,.3)),
            color-stop(1, rgba(0,0,0,0))
    );
    height: 55px;
}

ul.megamenu a, #moduleList .sf-menu a, #moduleList.sf-menu a:visited {
    color: #FFFFdd;
}

div#content,div#main, body {
    background-color: #ffffdd;
}


/*------------------------------------------------
Sugar 7.X
-------------------------------------------------*/

/*
include/MVC/View/tpls/sidecar.tpl - turbo test
cache/themes/RacerX/css/style.css
*/

/*custom/themes/RacerX/css/style.css*/
div#main > div, div#main  { background: #ffff00 none repeat scroll 0 0 !important; }





/*custom/themes/custom.less*/
/* Mega Menu Background Color  */
.navbar .nav-collapse > div.module-list {
    background: #004882 none repeat scroll 0 0 !important;
}
.navbar .nav-collapse #searchForm {
    background: #004882 none repeat scroll 0 0 !important;
}
.navbar .btn-group {
    background: #004882 none repeat scroll 0 0 !important;
}
/*---------------------------------------------------------------*/
/* Mega Menu Notification Background Color and Border  */
.navbar ul.nav.megamenu li.dropdown.notification-list .btn.dropdown-toggle {
    border: 1px solid #ffffff !important;  background: #ffab02 !important;
}
/*---------------------------------------------------------------*/
/* Mega Menu Select Active and Hover */
.megamenu > .dropdown .btn-group > .btn.btn-invisible:hover {
    background: #ffab02 none repeat scroll 0 0 !important;
}
.megamenu > .dropdown .btn-group:hover {
    background: #ffab02 none repeat scroll 0 0 !important;
}
.megamenu > .dropdown:hover, .megamenu > .dropdown.active .btn-group {
    background: #ffab02 none repeat scroll 0 0 !important;  outline: medium none;
}
.megamenu > .dropdown.active .btn-group:not(.open) .btn.btn-invisible.btn-link:not(.cube) {
    color: #333 !important;
}
/*---------------------------------------------------------------*/
/* Mega Menu Progress Bar */
.navbar-inner {  box-shadow: 0 4px 0 #ffab02 !important;  background: #004882 !important; }
.loading.gate .progress .bar {   background: #ffab02 !important; }
/*---------------------------------------------------------------*/
/* Search Box Progress Bar */
.navbar .navbar-search .btn-group .btn:not(.advanced),
.navbar .notification-list .btn-group .btn:not(.btn-danger) {
    background: #ffab02 none repeat scroll 0 0 !important;
}


.record-cell .normal > span {  min-height: 15px !important;  margin: 1px 0 0 0 !important; }

