<script src="https://code.angularjs.org/1.2.13/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.js"></script>


Hello, Vue!
---------------------------
<div id="app">
  <h1> {{ msg }} </h1>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
  new Vue({
    data: {
      msg: 'Hello World! '
    },
    el: '#app'
  })
</script>


Listing 1: JavaScript und HTML
<div id="app">
  <h1> {{ count }} </h1>
  <button @click="up">+</button>
  <button @click="down">-</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<script>
  new Vue({
    data: {
      count: 0
    },
    methods: {
      up() {
        this.count = this.count + 1;
      },
      down() {
        this.count = this.count – 1;
      }
    },
    el: '#app'
  })
</script>




Listing 2: JavaScript + HTML
<div id="app">
  <ul>
    <li v-for="product in products">
      {{product.name}}: {{product.quantity}}
      <button @click="product.quantity += 1">+</button>
      <button @click="product.quantity -= 1">-</button>
      <span v-if=”product.quantity < 5”>{{ product.name }} werden knapp!</span>
    </li>
  </ul>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
  new Vue({
    data: {
      products: [{
        name: 'Schuhe',
        quantity: 1
      }, {
        name: 'Socken',
        quantity: 10
      }, {
        name: 'Shirts',
        quantity: 12
      }],
    },
    el: ‘#app’
  })
</script>


Listing 3: JavaScript und HTML
<div id="app">
  <ul>
    <li v-for="product in products">
      {{product.name}}: {{product.quantity}}
      <button @click="product.quantity += 1">+</button>
      <button @click="product.quantity -= 1">-</button>
      <span v-if="product.quantity < 5">{{ product.name }} werden knapp!</span>
    </li>
  </ul>
  <p>
    <strong>Total quantity:</strong> <span :class="totalClass">{{ total }}</span>
  </p>
</div>
<style>
  red {
    color: red;
  }
</style>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
  new Vue({
    data: {
      products: [{
        name: 'Schuhe', quantity: 1
      }, {
        name: 'Socken', quantity: 10
      }, {
        name: 'Shirts', quantity: 12
      }],
      totalClass: 'normal'
    },
    computed: {
      total() {
        return this.products.reduce((acc, el) => {
          return acc + el.quantity
        }, 0)
      }
    },
    watch: {
      total(val) {
        if (val < 10) {
          this.totalClass = 'red';
        } else {
          this.totalClass = 'normal';
        }
      }
    },
    el: ‘#app’
  })
</script>


Listing 4: JavaScript und HTML
<div id="app">
  <my-counter :products="clothes"></my-counter>
  <hr>
  <my-counter :products="sweets"></my-counter>
</div>
<style>
  .red {
    color: red;
  }
</style>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
  const Comp = Vue.extend({
    template: `<div><ul>
    <li v-for="product in products">
      {{product.name}}: {{product.quantity}}
       <button @click="product.quantity += 1">+</button>
       <button @click="product.quantity -= 1">-</button>
       <span v-if="product.quantity < 5">Buy more {{product.name}}</span>
    </li>
  </ul>
  <p>
    <strong>Total quantity:</strong> <span :class="styleClass">{{ total }}</span>
  </p></div>`,
    props: ['products'],
    data() {
      return {
        styleClass: 'normal'
      }
    },
    computed: {
      total() {
        return this.products.reduce((acc, el) => {
          return acc + el.quantity
        }, 0)
      }
    },
    watch: {
      total(val) {
        if (val < 10) {
          this.styleClass = 'red';
        } else {
          this.styleClass = 'normal';
        }
      }
    }
  });
  new Vue({
    el: "#app",
    data: {
      clothes: [
        { name: 'Shoes', quantity: 1 },
        { name: 'Socks', quantity: 10 },
        { name: 'Shirts', quantity: 12 }
      ],
      sweets: [
        { name: 'Chocolates', quantity: 10 },
        { name: 'Candy', quantity: 5 }
      ],
    },
    components: {
      'my-counter': Comp
    }
  })
</script>



Listing 5: „Hello.vue“

<template>
  <div id="hello">
    <img src="http://vuejs.org/images/logo.png">
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
  export default {
    name: 'hello',
    data() {
      return {
        msg: 'Welcome to Your Vue.js App'
      }
    }
  }
</script>

<style scoped>
  #hello {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;

    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  a {
    color: #42b983;
  }
</style>