<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.4/css/bulma.min.css">
    <link href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.min.css" rel="stylesheet">
</head>
<body>
<div id="app">
    <div class="column is-full">
        <section class="section">
        <section class="form">
                <div class="columns">
                    <div class="column is-one-quarter">
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input v-model="form.test" class="input"
                                               type="text" placeholder="tst" v-model="test">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-one-quarter">
                        <div class="field is-horizontal">
                            <button class="button is-info" @click="actionTest">
                                test
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.30/vue.global.min.js"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script>
    const {createApp, ref, computed} = Vue;
    const app = createApp({
        setup() {
        },
        data() {
            return {
                form: {
                    test: '',
 		        }
 		    }
        },
        mounted() {
        },
        methods: {
            submit(e) {
                console.log("submited")
            },
            generatePreview(e) {
                console.log("test")

                axios.post('/test.php', {
                    test: this.form.test,
		        })
                .then(function (response) {
                    console.log(response);
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            generatePDF() {
                console.log("generatePDF")
            }
        }
    });
    app.mount("#app");
</script>

<!--
# test.php
$request_body = file_get_contents('php://input');
$data = json_decode($request_body, true);
#print_r($data);
$test = $data["test"];
-->

</body>
</html>