<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--
http://jsfiddle.net/eLzavj5f/
https://jsfiddle.net/boilerplate/vue
https://v1.vuejs.org/guide/events.html
-->
<script>
    new Vue({
        el: "#app",
        data: {
            todos: [
                {text: "Learn JavaScript", done: false},
                {text: "Learn Vue", done: true},
                {text: "Play around in JSFiddle", done: true},
                {text: "Build something awesome", done: true}
            ],
            checkedCategories: [],
            checkedCategorie: [],
            mainCategories: [{
                merchantId: '1'
            }, {
                merchantId: '2'
            }]
        },
        methods: {
            toggle: function (todo) {
                todo.done = !todo.done
            },
            greet: function (e) {
                if (55 === this.checkedCategorie) {
                    console.log(this.checkedCategorie)
                } else {
                    console.log("????")
                }
            },
            check: function (e) {
                console.log(this.checkedCategories)
            }
        }
    })
</script>
<style>
    body {
        background: #20262E;
        padding: 20px;
        font-family: Helvetica,serif;
    }

    #app {
        background: #fff;
        border-radius: 4px;
        padding: 20px;
        transition: all 0.2s;
    }
</style>
<div id="app">
    <fieldset>
        <label>
            <input type="checkbox" value="55" class="category_parent" v-model="checkedCategorie"
                   @change="greet($event)"/>
            {{ checkedCategorie }}
        </label>
    </fieldset>
    <ul>
        <li v-for="mainCat in mainCategories">
            <input type="checkbox" :value="mainCat.merchantId" id="mainCat.merchantId" v-model="checkedCategories"
                   @change="check($event)"><label for="mainCat.merchantId"> {mainCat.merchantId}}</label>
        </li>
    </ul>
    {{ checkedCategories }}
    <h2>Todos:</h2>
    <ol>
        <li v-for="todo in todos">
            <label>
                <input type="checkbox" v-on:change="toggle(todo)" v-bind:checked="todo.done">
                <del v-if="todo.done">
                    {{ todo.text }}
                </del>
                <span v-else>
            {{ todo.text }}
          </span>
            </label>
        </li>
    </ol>
</div>
</body>
</html>