body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

svg {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

/* Labels
*/
.region_label, .province_label, .town_label {
    fill: #596E71;
    font-weight: bold;
    text-anchor: middle;
    cursor: pointer;
}

/*  PALETTE-1
*/
svg {
    background: #0D3346;
}

.boundaries {
    fill: none;
    stroke-linejoin: round;
    vector-effect: non-scaling-stroke;
}

.boundaries.country {
    stroke-width: 0;
}

.boundaries.region {
    stroke: #596E71;
    stroke-width: 2px;
}

.boundaries.province {
    stroke: #ABAA8B;
    stroke-width: 1px;
}

.boundaries.town {
    stroke: rgb(221, 220, 188);
    stroke-width: 1px;
}

svg text.region_label {
    letter-spacing: 1px;
}

svg text.capital {
    text-transform: uppercase;
    font-size: 18px;
}

.italy {
    fill: #F5F4E6;
}